<template name="view">

  <main class="text-center">
    <h3>Send messages back and forth with the iOS client: </h3>
    <form>
      <input name="message" type="text" class="form-control" autocomplete="off">
      <button class="btn btn-default btn-danger" type="button">Reset</button>
      <button class="btn btn-default btn-success" type="submit">Send!</button>
    </form>
    <div id="messages" class="center-block">
      {{#each messages}}
        <strong>{{sender}}:</strong> {{content}}
        <br/>
      {{/each}}
    </div>
  </main>

</template>
